<?xml version="1.0" encoding="UTF-8"?>
  <display-name>spn_test</display-name>
  <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>spn_test.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>LoginServlet</servlet-name>
     <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>